.chat-box {
    background-color: #E0E0E0; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px #ACACAC, -10px -10px 20px #FFFFFF;
}


.user-list {
    background-color: #E0E0E0; 
    border-radius: 15px;
    padding: 20px;
    box-shadow: 10px 10px 20px #ACACAC, -10px -10px 20px #FFFFFF;
}




#imageOne{
  border-radius: 1%;
  border-bottom-left-radius: 50%;
}

.introOne{
    font-size: 20px;
}

#imageTwo{
    width: 50%;

}
#aimImage{
    border: 10px solid aqua;
    border-bottom-left-radius: 40%;
}

#aimImage2{
    border: 10px solid palevioletred;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 40%
    
}

#aimImage3{
    border: 10px solid greenyellow;
    border-top-right-radius: 30%;
    border-bottom-left-radius: 30%
}

#aimImage4{
    border: 10px solid plum;
}

#aimImage5{
    border: 10px solid aqua;
    border-bottom-right-radius: 40%;
}

#aimImage6{
    border: 10px solid rgba(52, 52, 240, 0.199);
    border-top-right-radius: 30%;
    
}

#arrowOne{
height: 60px;
margin: 10% 50% 0% 25%;
}

#smilingChildren{
    border-radius: 1%;
    border-bottom-left-radius: 50%;
  }


  .active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .animate {
    visibility: hidden;
    transition: none;
  }
  
  .carousel-inner{
    position: relative;
    width: 100% !important;
    margin: 0 auto;
    margin-top: 120px;
    height: 80vh;
  }
  
  .carousel-control-prev ,.carousel-control-next{
    border-radius: 50px;
    height: 50px;
    width: 50px !important;
    margin: auto;
    background-color: #333 !important;
  }
  .get-position{
    position: absolute !important;
    top: 180px;
    bottom: 0;
    left: 30px;
    color: #fff;
    right: 0;
  }
  /* .get-position p ,h3 ,h6{
    font-family: 'Times New Roman' !important;
  
  }
   */

